@import "./datepicker.css";
@import "./tag.css";

@config "./tailwind.components.config.ts";

@tailwind components;
@tailwind utilities;

@layer components {

  .accordion {
    @apply rounded-xl overflow-hidden;

    > button {
      @apply relative z-10 flex items-center justify-between w-full transition-[border-radius];

      &:after {
        @apply content-[''] bg-black w-4 h-4;
        @apply transition-transform duration-200;
        @apply mask-[url("./res/down.svg")] mask-default;
      }
    }

    > ul {
      @apply bg-stone-200 dark:bg-white dark:text-black;
      @apply grid auto-rows-fr divide-y divide-stone-700 dark:divide-stone-200;
      @apply transition-accordion duration-200 overflow-hidden rounded-b-xl;
      @apply max-h-0 -translate-y-full;
    }

    &[aria-expanded="true"] {
      > button {
        @apply rounded-b-none after:-rotate-180;
      }

      > ul {
        @apply max-h-full translate-y-0;
      }
    }

    &:hover {
      > button, ul {
        @apply bg-stone-200
      }
    }
  }

  .btn {
    @apply rounded-xl text-black;
  }

  .btn-group {
    @apply flex divide-x divide-stone-300 dark:divide-stone-800;

    > div {
      @apply first:rounded-l-xl last:rounded-r-xl;
      @apply [&>.btn]:rounded-none [&:first-child>.btn]:rounded-l-xl [&:last-child>.btn]:rounded-r-xl;
    }
  }

  .btn-group,
  .switch-group {
    @apply border border-stone-200 dark:border-stone-800 rounded-xl;
  }

  .collapse-container {
    @apply divide-y divide-stone-700 dark:divide-stone-300;

    > li {
      > label {
        @apply flex items-center justify-between cursor-pointer font-semibold text-lg;

        + div {
          @apply text-stone-600 dark:text-stone-400;
        }

        &:after {
          @apply content-[''] bg-black dark:bg-white w-4 h-4;
          @apply mask-[url("./res/down.svg")] mask-default;
          @apply transition-transform duration-200;
        }
      }
    }
  }

  input + label {
    @apply cursor-pointer;
  }

  .input-default,
  textarea {
    @apply w-full px-4 py-3 outline-0 rounded-xl shadow-none;
    @apply border border-stone-300 dark:border-stone-700 placeholder-stone-400 dark:placeholder-stone-600 placeholder:font-light bg-transparent;
    @apply disabled:opacity-70;
  }

  .input-checkbox,
  .input-radio {
    @apply w-4 h-4 p-0 appearance-none align-middle;
    @apply disabled:cursor-not-allowed disabled:opacity-50
  }

  .input-checkbox {
    @apply bg-stone-300 checked:bg-stone-400 dark:bg-stone-600 checked:dark:bg-stone-500 rounded-md;
    @apply mask-[url("./res/tick_square_empty.svg")] checked:mask-[url("./res/tick_square.svg")] mask-default;

    &:checked {
      animation: animateCheck 150ms linear;
    }
  }

  .input-radio {
    @apply rounded-full;
    @apply border border-stone-300 checked:border-stone-400 dark:border-stone-600 checked:dark:border-stone-500;
    @apply checked:after:bg-stone-400 [&:not(:checked)]:after:dark:bg-transparent checked:after:dark:bg-stone-500;

    &:after {
      @apply content-[''] block w-2/3 h-2/3 mx-auto mt-[50%] origin-center rounded-full -translate-y-1/2;
    }

    &:checked:after {
      animation: animateRadio 150ms linear;
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }

  .input-group {
    > input {
      @apply border-0 flex-1 w-auto rounded-none;
    }

    > span {
      @apply px-4 py-3 bg-stone-200 dark:bg-stone-800;
      @apply first:rounded-l-xl last:rounded-r-xl;
    }

    @apply flex items-stretch w-full rounded-xl;
    @apply border border-stone-200 dark:border-stone-800;
  }

  .input-toggle {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
    @apply w-10 h-6 appearance-none bg-stone-300 checked:bg-stone-700 dark:bg-stone-700 checked:dark:bg-stone-400 bg-no-repeat rounded-full;
    @apply bg-[left_center] checked:bg-[right_center] transition-[background-position];
  }

  .popper-dropdown {
    @apply min-w-44 [&_.popper-dropdown-item]:min-w-44;
    @apply pl-4 pr-3 py-2 bg-white dark:bg-stone-950 rounded-xl shadow-xl shadow-stone-100 dark:shadow-none dark:border-2 dark:border-stone-800;

    .popper-dropdown-item {
      @apply cursor-pointer py-2 text-stone-600/60 hover:text-stone-600 after:bg-stone-600/60 hover:after:bg-stone-600;
      @apply dark:text-stone-400/50 dark:hover:text-stone-400 dark:after:bg-stone-400/50 dark:hover:after:bg-stone-400;
      @apply after:w-3.5 after:h-3.5 after:mask-default after:mask-[url("./res/arrow_right.svg")];
    }
  }

  progress {
    @apply w-full h-2 rounded-full;

    &::-webkit-progress-bar,
    &::-webkit-progress-value {
      @apply bg-stone-200 dark:bg-stone-700 rounded-full;
    }

    &::-webkit-progress-value {
      @apply bg-stone-400 dark:bg-stone-400;
    }
  }

  .modal {
    @apply *:px-6 *:py-4 rounded-xl bg-white dark:bg-stone-900 border border-stone-200 dark:border-2 dark:border-stone-800 dark:text-stone-50;

    > .modal-header + .modal-body {
      @apply pt-2;
    }

    > .modal-footer {
      @apply p-0 border-t dark:border-t-2 dark:border-stone-800;

      > button {
        @apply dark:text-stone-50 hover:bg-stone-100 hover:dark:bg-stone-800;
        @apply rounded-none first:rounded-bl-xl last:rounded-br-xl;
      }
    }

    .modal-close {
      @apply mask-default mask-[url("./res/close_square.svg")] bg-black dark:bg-white;
      @apply w-6 h-6 rounded-none;
    }
  }

  .tabs-container {
    > ul {
      @apply border-b border-stone-200 dark:border-stone-800;

      .btn {
        @apply rounded-b-none;
      }
    }

    &.clean {
      > ul {
        .btn {
          @apply border-b-2 dark:text-white border-transparent;

          &.active {
            @apply border-stone-500 dark:border-stone-400;
          }
        }
      }
    }
  }

  .table {
    th {
      @apply px-4 py-3 font-medium text-stone-400 dark:text-stone-600 text-sm text-left;
    }

    td {
      @apply px-4 py-3 text-left;
    }

    &.table-default th {
      @apply bg-stone-100 dark:bg-stone-900 first:rounded-l-xl last:rounded-r-xl;
    }

    &.table-line {
      th {
        @apply border-b border-stone-200 dark:border-stone-800;
      }

      td {
        @apply border-b border-stone-200 dark:border-stone-800;
      }
    }
  }
}

@layer utilities {
  .mask-default {
    mask-repeat: no-repeat;
    mask-position: center left;
    mask-size: contain;
  }
}

@keyframes animateCheck {
  from {
    opacity: 0;
    transform: scale(120%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes animateRadio {
  from {
    opacity: 0;
    transform: translateY(-50%) scale(120%);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) scale(100%);
  }
}